@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .wrapper-section2 {
    background: none, linear-gradient(to bottom, #FFFFFF 80%, #FEF8F8 86%);
  }

  .left {
    box-shadow: -51px 35px 35px 19px rgba(233, 230, 230, 60%);
  }

  .right {
    box-shadow: -51px 35px 35px 19px rgba(233, 230, 230, 78%);
  }

  .contents__tools {
    object-fit: cover;
    object-position: center;
    height: 19rem;
    background-position: 100% 75px;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: auto;
    /* Resize the background image to cover the entire container */
    background-image: url("./../../assets/section3-mini.png");
  }

  @media (min-width: 768px) {
    .wrapper-section2 {
      background-position: 111% -22px;
      object-position: center;
      background-position: right 147px;
      background-repeat: no-repeat;
      background: url("./../../assets/bgsec2.png") no-repeat 59% 15rem, linear-gradient(to bottom, #FFFFFF 80%, #FEF8F8 86%);
    }

    .contents__tools {
      background-position: 11rem 1rem;
      background-image: url("./../../assets/section3-bg.png");
    }
  }

  @media (min-width: 1024px) {
    .wrapper-section2 {
      background: url("./../../assets/bgsec2.png") no-repeat 99% 3rem, linear-gradient(to bottom, #FFFFFF 80%, #FEF8F8 86%);
    }

    .contents__tools {
      background-position: 0rem 1rem;
      background-image: url("./../../assets/section3-bg.png");
    }
  }
}