@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .wrapper-section2 {
    object-fit: cover;
    object-position: center;
    background-position: 111% 147px;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    background-image: url("./../../assets/bgsec2.png");
    background-image: url("./../../assets/bgsec2.png"), linear-gradient(to bottom, #FFFFFF 81%, #FEF8F8 78%);
  }

  .left {
    box-shadow: -51px 35px 35px 19px rgba(233, 230, 230, 60%);
  }

  .right {
    box-shadow: -51px 35px 35px 19px rgba(233, 230, 230, 78%);
  }

  .contents__tools {
    object-fit: cover;
    object-position: center;
    height: 19rem;
    background-position: 91% 75px;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: auto;
    /* Resize the background image to cover the entire container */
    background-image: url("./../../assets/section3-mini.png");
  }

  .wrapper-tagline {
    background-image: url("./assets/sosmed.png");
  }

  @media (min-width: 1024px) {
    .wrapper-section2 {
      background-position: 111% -22px;
    }
  }
}